# Configure your parameters here
# image: The name of the b-mode image
# depth: The ultrasound detection depth, mm
# equivalent-pixels: The number of pixels on the image equivalent to the depth

# image=450p-100mm.jpg
# depth=100
# equivalent-pixels=450
# 50 48.67

# image=270p-85mm.jpg
# depth=85
# equivalent-pixels=270
# 55.10 54.16 

# image=150p-36.4mm.jpg
# depth=36.4
# equivalent-pixels=150

# image=345p-90mm.jpg
# depth=90
# equivalent-pixels=345

# image=225p-100mm.jpg
# depth=100
# equivalent-pixels=225
# threshold=0.481

# image=384p-100mm.jpg
# depth=100
# equivalent-pixels=384

# image=80p-20mm.jpg
# depth=20
# equivalent-pixels=80

# image=513p-110mm.jpg
# depth=110
# equivalent-pixels=513
# threshold=0.4

# image=352p-60mm.jpg
# depth=60
# equivalent-pixels=352

# image=208p-56.6mm.jpg
# depth=56.6
# equivalent-pixels=208

# image=100p-27.4mm.jpg
# depth=27.4
# equivalent-pixels=100

# image=140p-33.4mm.jpg
# depth=33.4
# equivalent-pixels=140
# threshold=0.581

# image=303p-72mm.jpg
# depth=72
# equivalent-pixels=303
# threshold=0.5

# image=1286p-60mm.jpg
# depth=60
# equivalent-pixels=1286
# length-threshold=0.8

# image=112p-58.2mm.jpg
# depth=58.2
# equivalent-pixels=112

# image=75p-40.5mm.jpg
# depth=40.5
# equivalent-pixels=75

# image=132p-33.5mm.jpg
# depth=33.5
# equivalent-pixels=132

# image=125p-63.9mm.jpg
# depth=63.9
# equivalent-pixels=125
# threshold=0.375

image=216p-47.2mm.jpg
depth=47.2
equivalent-pixels=216
threshold=0.245